html {scroll-behavior: smooth;}

.sub-category-section .advantage-card__icon {width: auto; height: auto;}
.sub-category-section .advantage-card__icon i {color: #49aa4d;width: 100%;height: 100%;font-size: 3.7em;display: ;}

.header__links-list > li {
 cursor:pointer;
 position:relative;
 margin-right:40px
}
.header__links-list > li:last-child {
 margin-right:0
}
.header__links-list > li:hover .header__sub-category-list {
 opacity:1;
 -webkit-clip-path:inset(0 0 0 0);
 clip-path:inset(0 0 0 0)
}
.header__links-list > li:hover > a span {
 color:#ef8123
}
.header__links-list > li:hover > .svg {
 -webkit-transform:rotateX(180deg);
 transform:rotateX(180deg)
}
.header__links-list > li:hover > .svg path {
 fill:#ef8123
}
.header__links-list > li > a {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 display: inline-flex;
}
.header__links-list > li > .svg {
 width:13px;
 height:8px;
 margin-left:10px;
   display: inline-block;
}
.header__links-list > li > .svg,
.header__links-list > li > .svg path,
.header__links-list > li > a span {
 -webkit-transition:all .35s ease-in-out;
 transition:all .35s ease-in-out
}
.header__links-list > li > a span {
 color:#2c2f32;
 font-size:16px
}


.header__sub-category-list a,
.header__sub-category-list {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:start;
 -ms-flex-pack:start;
 justify-content:flex-start
}
.header__sub-category-list a {
 color:#878787;
 font-size:16px;
 font-weight:400;
 position:relative;
 margin-bottom:10px;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-transition:all .35s ease-in-out;
 transition:all .35s ease-in-out
}
.header__sub-category-list a:hover {
 color:#ef8123
}
.header__sub-category-list a:hover:before {
 width:25px
}
.header__sub-category-list a:before {
 width:0;
 height:2px;
 content:"";
 display:block;
 margin-right:10px;
 background-color:#ef8123;
 -webkit-transition:all .35s ease-in-out;
 transition:all .35s ease-in-out
}
.header__sub-category-list li:last-child a {
 margin-bottom:0
}


.global-menu__links-list {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column
}
.global-menu__links-list > li {
 margin-bottom:30px
}
.global-menu__links-list > li.toggle > svg {
 -webkit-transform:rotateX(180deg);
 transform:rotateX(180deg)
}
.global-menu__links-list > li {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 /*! justify-content:center; */
 -webkit-transition:all .4s ease-in-out;
 transition:all .4s ease-in-out;
}
.global-menu__links-list > li.menu-item-has-children {
 display: grid;
 grid-template-columns: auto auto;
 column-gap: 10px;
}
.global-menu__links-list > li > a,
.global-menu__links-list > li > span {
 color:#303030;
 font-size:26px;
 text-align: ;
 justify-self: right;
}
.global-menu__links-list > li > svg {
 width:15px;
 height:9px;
 margin-left:0px;
 -webkit-transition:all .4s ease-in-out;
 transition:all .4s ease-in-out;
 display: initial;
 display: inline-block;
}
.global-menu__sub-wrap {
 display:none;
 grid-column-start: 1;
 grid-column-end: 3;
}
.global-menu__sub-list {
  
 
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 margin-top:15px;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 justify-content:center;
 clear: both;
 float: left;
 width: ;
 grid-column-start: 1;
 grid-column-end: 3;
}
.global-menu__sub-list li a {
 color:#303030;
 font-size:18px;
 text-align:center;
 margin-bottom:20px;
 -webkit-transition:all .3s ease-in-out;
 transition:all .3s ease-in-out
}
.global-menu__sub-list li a:hover {
 color:#ef8123
}
.global-menu__sub-list li a:last-child {
 margin-bottom:0
}


.category .breadcrumb-item, .category .breadcrumb-item + .breadcrumb-item::before {
    color: hsla(0,0%,100%,.5);
}

.sub-category-appearance-section .col-appearance .choose-image-wrap:nth-child(2) {display: none;}

.parent-category-3 .custom-btn.secondary,
.category-3 .custom-btn.secondary, .parent-category-3 .consultation-section__info, .category-3 .consultation-section__info,
.category-3 #sub-category-page .sub-category-section .slider-arrow_next::after, .parent-category-3 #sub-category-page .sub-category-section .slider-arrow_next::after,
.category-3 #sub-category-page .sub-category-section .slider-arrow_prev::after, .parent-category-3 #sub-category-page .sub-category-section .slider-arrow_prev::before {
 background-color: #ef8123;
}

.parent-category-3 #sub-category-page .home-stock-section .stock-slider__price_new,
.category-3 #sub-category-page .home-stock-section .stock-slider__price_new, .category-3 .custom-btn.inverse span,
.parent-category-3 .custom-btn.inverse span, .category-3 .sub-category-section .advantage-card__icon i,
.parent-category-3 .sub-category-section .advantage-card__icon i,
.parent-category-3 #sub-category-page .sub-category-section .slider-arrow
{color: #ef8123;}

.parent-category-3 #sub-category-page .sub-category-section .slider-arrow.slick-disabled, #sub-category-page .sub-category-section .slider-arrow.slick-hidden
{color: rgba(34,34,34,.4);}

.parent-category-3 #sub-category-page .sub-category-section .slider-arrow.slick-disabled::after, .parent-category-3 #sub-category-page .sub-category-section .slider-arrow.slick-disabled::before
{background-color: rgba(34,34,34,.4);}

.parent-category-3 .sub-category-appearance-section .choose-item__image::before, .parent-category-3 .sub-category-appearance-section .choose-item__color::before {border-color: #ef8123; }




.parent-category-4 .custom-btn.secondary,
.category-4 .custom-btn.secondary, .parent-category-4 .consultation-section__info, .category-4 .consultation-section__info,
.category-4 #sub-category-page .sub-category-section .slider-arrow_next::after, .parent-category-4 #sub-category-page .sub-category-section .slider-arrow_next::after,
.category-4 #sub-category-page .sub-category-section .slider-arrow_prev::after, .parent-category-4 #sub-category-page .sub-category-section .slider-arrow_prev::before {
 background-color: #d8155b;
}

.parent-category-4 #sub-category-page .home-stock-section .stock-slider__price_new,
.category-4 #sub-category-page .home-stock-section .stock-slider__price_new,
.category-4 .custom-btn.inverse span, .parent-category-4 .custom-btn.inverse span,
.category-4 .sub-category-section .advantage-card__icon i,
.parent-category-4 .sub-category-section .advantage-card__icon i,
.parent-category-4 #sub-category-page .sub-category-section .slider-arrow
{color: #d8155b;}


.parent-category-4 #sub-category-page .sub-category-section .slider-arrow
{color: #d8155b;}

.parent-category-4 #sub-category-page .sub-category-section .slider-arrow.slick-disabled, .parent-category-4 #sub-category-page .sub-category-section .slider-arrow.slick-hidden
{color: rgba(34,34,34,.4);}

.parent-category-4 #sub-category-page .sub-category-section .slider-arrow.slick-disabled::after, .parent-category-4 #sub-category-page .sub-category-section .slider-arrow.slick-disabled::before
{background-color: rgba(34,34,34,.4);}

#sub-category-page .sub-category-appearance-section {
    float: left;
    width: 100%;
}

#sub-category-page .sub-category-appearance-section .section-title {margin-bottom: 40px;}


.custom-btn {display: inline-flex;color: #fff;}
.custom-btn:hover {color: #fff;}

.custom-btn.leave-review {
    float: right;
}


.sub-category-section .col-advantages {
    margin-bottom: 50px;
}




@media only screen and (max-width : 768px) {
.sub-category-appearance-section .choose-image-wrap {
    min-height: 210px;
  }
  .sub-category-appearance-section .nav-item {
    margin-bottom: 35px;
  }
  .sub-category-appearance-section .nav-tab {
    justify-content: center;
  }
  .sub-category-appearance-section .choose-items {
    justify-content: center;
  }
  .sub-category-appearance-section {
    padding: 0 15px 50px !important;
  }
  .custom-btn.leave-review {
    float: none;
    margin: 40px auto 0;
    display: block;
}
}



